.signup-component{
    position: relative;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 15vh 85vh;
}
.sign-form-container {
  gap: 2rem;
  height: 85vh;
  
}
.sign-forms{
  padding: 2rem;
      background-color: #000000b0;
      width: 40vw;
      gap: 2rem;
      color: white;
}
.body{
    gap: 1rem;
}
.signup{
    gap: 1rem;
        text-align: center;
        font-size: 2rem;
}

.form {

    grid-template-columns: 2fr 2fr; /* Default value */
    width: 50%
    
  }
  
  .form input {
    color: black;
    border: none;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    outline: none; /* Remove the focus outline */
    margin-top: 20px;
    /* margin-right: 40px; */
    
    
  }
  
  .form button {
    padding: 0.5rem 2rem;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 1.05rem;
    margin-top: 5px;
    margin-left: 50px; 
     text-align: center;
    
  }
  
  
  .form.showPassword {
    grid-template-columns: 1fr 1fr;
  }

  .signup-btn{
    padding: 0.5rem 1rem;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 1.05rem;
    text-align: center;
     margin-left: 20px; 
  }